 
 <div id="page-wrapper" style="min-height: 385px;">

   <div class="col-md-9">
                <div class="row" style="padding-top:35px">
<<<<<<< HEAD
                    <h2>@GlobusMultiLanguageLib.Resources.Home_MyTickets_MyRecentTickets</h2>
=======
                    <h2>My Recent Tickets</h2>
>>>>>>> e052534b7a2a3744cad9dddbc3c6acccf394ca7b
                    <div class="col-xs-12" id="">
                        <div class="row">

                            <div class="col-lg-12 col-md-12" id="divBindMessage">
                                
                            @Html.Partial("_TicketsPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>